* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
    user-select: none;
    font-style: normal;
    font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

header {
    padding: 14px 80px 10px;
    background-color: #050508;
    width: -webkit-fill-available;
}

.header {
    padding: 13px 0;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu_wrapp{
    width: max-content;
    display: flex;
    text-decoration: none;
}

.menu {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: inset 0px -4px 4px;
    border-radius: 11px;
    margin-right: 15px;
}

.menu_text {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.menu_block {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.menu_item {
    margin-left: 40px;
    font-weight: 400;
    font-size: 15px;
}

.menu_item a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu_item a:hover {
    text-decoration: underline;
}

#main-screen {
    padding: 100px 80px 0;
    background-color: #050508;;
    width: -webkit-fill-available;
}

.main-box{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.main {
    max-width: 690px;
}

.title {
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.main-content {
    max-width: 545px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.button-link {
    padding: 20px 35px 19px;
    border: none;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main-link {
    background: #FFFFFF;
    width: 199px;
    height: 65px;
    color: #04100B;
    margin-bottom: 100px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.main-link:hover {
    background: rgb(243, 245, 202);
}

.mail-link {
    background: url("./assets/image/letter-logo.svg");
    width: 24px;
    height: 28px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.main-section {
    max-width: 620px;
    height: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

/* .main-picture {
    width: 64px;
    height: 64px;
    margin-right: 24px;
} */

.main-picture {
    width: 590px;
    height: 665px;
    background: url("./assets/image/CIMG9940_1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.main-picture:hover {
    opacity: 1;
    -webkit-animation: flash 1s;
    animation: flash 1s;
    opacity: 1.1; 
}

@-webkit-keyframes flash {
    0%, 50%, 100% { opacity: .5; }
    25%, 75% { opacity: 0; }
}
@keyframes flash {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

.avatar {
    height: 150px;
    display: flex;
}

.user_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1a17dd;
    padding-left: 50px;
}

#about {
    padding: 144px 80px 180px;
    width: -webkit-fill-available;
}

.about {
    max-width: 1280px;
    min-height: 400px;
    align-items: space-between;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_box {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review {
    max-width: 330px;
    width: 100%;
}

.stars {
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    padding-left: 20px;
    padding-top: 20px;
}

.star {
    width: 22px;
    cursor: pointer;
}

.review_content {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 27px;
}

.reviewer {
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.reviewer_data {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-left: 90px;
}

.reviewer_name {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
    width: max-content;
}

.reviewer_position {
    font-size: 10px;
    line-height: 24px;
}

.about-section {
    max-width: 700px;
    width: 100%;
}

.about-header {
    margin-bottom: 74px;
    font-size: 48px;
    line-height: 54px;
}

.about-grid {
    display: grid;
    grid-template-columns: 200px 200px auto;
    grid-gap: 50px;
    margin-bottom: 50px;
}

.num-item {
    color: #1a17dd;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 8px;
}

.text-item {
    font-size: 21px;
    line-height: 31px;
    max-width: 231px;
    width: 100%;
}

.prog-grid {
    display: grid;
    grid-template-columns: 156px 175px 156px 156px;
    grid-gap: 33px;
}

.prog-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.prog-logo {
    width: 34px;
    height: 34px;
    margin-right: 9px;
}

.prog-name {
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    align-self: end;
}

#work {
    padding: 14px 80px 10px;
    width: -webkit-fill-available;
}

.breadcrumb {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.breadcrumb-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1a17dd;
    margin-left: 10px;
}

.work {
    max-width: 1280px;
    margin: 0 auto;
}

.work .about-header {
    font-size: 60px;
    line-height: 66px;
    margin-top: 26px;
    margin-bottom: 78px;
    max-width: 698px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 20px;
}

.work-block {
    width: 510px;
    height: 510px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}


.work-title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 400px;
}

.work-block p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.work-block:nth-child(3) {
    width: 100%;
}

.work-button {
    padding: 56px 40px;
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a17dd;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-bottom: 120px;
}

.work-button:hover {
    font-weight: bold;
    background: #0704a6;
}


#services {
    padding: 100px 80px;
    background-color: #050508;
    width: -webkit-fill-available;
}

.services {
    max-width: 1280px;
    margin: 0 auto;
}

.services .breadcrumb-icon {
    filter: brightness(6);
}

.services .breadcrumb h3 {
    color: #FFFFFF;
}

.services h2 {
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    max-width: 352px;
}

.services-articles {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 45px;
    color: #FFFFFF;
}

.services-item {
    height: 283px;
    width: 352px;
}

.services-icon {
    width: 56px;
    height: 56px;
    display: block;
    margin-bottom: 20px;
}

.services-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
    color: #FFFFFF;
}

.services-content {
    font-size: 18px;
    line-height: 28px;
    max-width: 289px;
    color: #FFFFFF;
}

.services-item:nth-child(6) {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.button-contact {
    width: 268px;
    height: 65px;
    background-color: #FFFFFF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.button-contact:hover {
    background: rgb(243, 245, 202);
}

#blog {
    padding: 31px 80px 80px;
    width: -webkit-fill-available;
}

.blog {
    max-width: 1280px;
    margin: 0 auto;
}

.blog .about-header {
    font-size: 60px;
    font-weight: 300;
    line-height: 66px;
    margin-top: 26px;
    margin-bottom: 78px;
    max-width: 698px;
}

.news-article {
    height: 288px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-picture {
    width: 376px;
    height: 241px;
    margin-right: 40px;
}

.news-date {
    min-width: 749px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1a17dd;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.news-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
}

.news-content {
    max-width: 500px;
    font-size: 12px;
    line-height: 28px;
}

.news-link {
    font-size: 18px;
    line-height: 25px;
    color: #1a17dd;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    height: min-content;
    align-content: normal;
    align-items: baseline;
    width: 115px;
    justify-content: space-between;
}

.news-link:hover {
    text-decoration: underline;
}

/* #info {
    width: -webkit-fill-available;
}

.info {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.info-block {
background-color: aquamarine;
width: 50%;
height: 95px;
display: flex;
flex-direction: column;
} */

#contact {
    height: 120px;
    padding: 50px 50px;
    background-color: #050508;
    width: -webkit-fill-available;
}

.contact {
    max-width: 1280px;
    margin: 0 auto;
}

.contact .breadcrumb {
    align-items: baseline;
}

.contact .breadcrumb-icon {
    filter: brightness(6);
}

.contact .breadcrumb-title {
    color: #FFFFFF;
}

.services h2 {
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    max-width: 352px;
}

footer {
    padding: 0 80px 38px;
    background-color: #050508;
    ;
    width: -webkit-fill-available;
}

.footer {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px 335px 460px;
    grid-gap: 140px;
    color: #FFFFFF;
}

.footer-mail {
    color: #FFFFFF;
    font-size: 17px;
    line-height: 28px;
}

.footer-navigation {
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    list-style: none;
}

.footer-item {
    width: 80px;
}

.footer-item a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}

.subscibtion {
    display: flex;
    flex-direction: column;
    border-bottom: rgba(255, 255, 255, 0.2);
}

.subscibtion-text {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}

.subscibtion-input {
    width: 260px;
    height: 38px;
    border: none;
    border-radius: 240px;
    margin-right: 20px;
    color: #FFFFFF;
    border: 1px solid #fff6;
    height: 48px;
    background: transparent;
}

.subscibtion-button {
    width: 140px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 24px;
    background: #1a17dd;
    color: #FFFFFF;
    font-size: 16px;
}

.subscibtion-button:hover {
    background: #0f0cb3;
}

.cb {
    width: max-content;
}

.cb-text {
    font-size: 16px;
    line-height: 24px;
}
